---
export interface Props {
  text: string;
  type: "button" | "submit";
  variant?: "primary" | "secondary" | "outline" | "landing-button";
  className?: string;
  id?: string;
}

const {
  text,
  type = "button",
  variant = "primary",
  className = "",
  id,
} = Astro.props;

const getVariantClass = () => {
  switch (variant) {
    case "primary":
      return "bg-[#4338CA] text-white";
    case "secondary":
      return "bg-zinc-200 text-zinc-800";
    case "outline":
      return "bg-transparent border border-zinc-400 text-zinc-800";
    case "landing-button":
      return "bg-white text-zinc-800 drop-shadow-lg";
    default:
      return "bg-[#4338CA] text-white";
  }
};
---

<button
  type={type}
  class={`${getVariantClass()} px-7 py-3 text-xl font-[550] rounded-md cursor-pointer ${className})`}
  id={id}
>
  {text}
</button>
