---
import DropDownArrow from "#assets/icons/downArrow.svg";
import Button from "./Button.astro";
import { getUniversities } from "#lib/helper.ts";

interface ComboboxProps {
  placeholder?: string;
  required?: boolean;
  buttonText?: string;
}

const {
  placeholder = "Type or select..",
  required = true,
  buttonText = "Search",
} = Astro.props as ComboboxProps;

const uni = await getUniversities();
console.log(uni)
const universities = uni.map((university) => university.id.toLocaleUpperCase());
---

<div class="flex flex-col justify-center items-center gap-7 sm:flex-row w-full">
  <div class="relative w-full sm:w-3/4">
    <input
      id="combobox-input"
      required={required}
      class="outline rounded-lg outline-zinc-300 w-full p-2 pl-3 py-3 focus:outline-indigo-500"
      placeholder={placeholder}
      autocomplete="off"
    />
    <div
      class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
    >
      <DropDownArrow />
    </div>
    <ul
      id="combobox-dropdown"
      class="absolute z-10 rounded-t-none hidden w-full mt-1 bg-white border border-zinc-300 rounded-lg max-h-60 overflow-auto shadow-lg"
    >
      {
        universities.map((university) => (
          <li
            class="px-4 py-2 hover:bg-zinc-100 rounded-t-none cursor-pointer"
            data-value={university}
          >
            {university}
          </li>
        ))
      }
    </ul>
  </div>

    <Button className = "w-full sm:w-fit" text={buttonText} variant="primary" type="button" id="submitBtn" />
</div>

<script>
  import { initCombobox } from "#lib/combobox.ts";
  initCombobox();
</script>
