---
interface Subject {
  name: string;
  taught_at: string[];
  courses: string[];
}

interface SubjectCardProps {
  subjects: Subject[];
  university_id: string;
  course: string;
}

const { subjects, university_id, course } = Astro.props as SubjectCardProps;

console.log(subjects);

const generateSlug = (text: string): string => {
  return text.toLowerCase().replace(/\s+/g, "-");
};
---

<div class="subject-card w-full h-full rounded-md">
  <div class="">
    {
      subjects?.map((subject: Subject) => (
        <div class="flex items-center justify-between py-3 px-4 border-b-2 border-gray-200">
          <h3 class="font-[500] subject-name">{subject.name}</h3>
          <a
            href={`/open-labs/labs/${university_id}/${subject.taught_at[0]}/${course}/${generateSlug(subject.name)}`}
            class="font-[700] underline text-indigo-800 hover:text-indigo-600 transition-colors"
          >
            View Lab Work
          </a>
        </div>
      ))
    }
  </div>
</div>
