---
import GraduationHatSVG from "#assets/icons/graduation_hat.svg";
import GithubSVG from "#assets/icons/github.svg";
import PullRequestSVG from "#assets/icons/pr.svg";
import OpenSourceSVG from "#assets/icons/oss.svg";
import Button from "#components/Button.astro";

const features = [
  {
    title: "University-Specific Structure",
    icon: GraduationHatSVG,
  },
  {
    title: "Request Lab Work",
    icon: PullRequestSVG,
  },
  {
    title: "Github Powered Contributions",
    icon: GithubSVG,
  },
  {
    title: "Open Source and Free",
    icon: OpenSourceSVG,
  },
];
---

<main class="flex flex-col justify-center md:min-h-[70vh] mt-10 md:mt-5">
  <div
    class="  flex flex-col m-7 gap-3 md:m-10 font-primary md:items-center md:mt-20 "
  >
    <p class="text-l">&#9899; ddc/oss</p>
    <div class="flex flex-col mt-3 md:flex-row md:gap-2">
      <h1
        class="md:text-5xl text-4xl font-black text-main-blue tracking-normal"
      >
        Simplify Lab Work.
      </h1>
      <h1 class="md:text-5xl text-4xl font-bold text-main-blue tracking-normal">
        Amplify Learning.
      </h1>
    </div>
    <p
      class="text-m max-w-[95%] mt-2 font-primary md:w-130  text-main-blue md:text-l md:text-center"
    >
      Open Labs Nepal connects students across universities, enabling them to
      upload, browse, and collaborate on lab work efficiently.
    </p>
    <div class="flex flex-col gap-2 md:flex-row">
      <Button
        text="View Lab Work"
        type="button"
        variant="primary"
        className="h-12 w-full md:w-50 "
        id="view-lab-button"
      />
      <Button
        text="Contribute"
        type="button"
        variant="landing-button"
        className="h-12 w-full md:w-50"
        id="contribute-button"
      />
    </div>
    <div
  class="flex flex-col gap-3 mt-5  md:mt-8 sm:grid sm:grid-cols-2 sm:gap-4 md:gap-6 "
>
  {
    features.map((feature) => (
      <div class="flex gap-3 items-center" >
        <div class="w-5 h-5 sm:w-6 sm:h-6 flex-shrink-0">
          <feature.icon />
        </div>
        <h2 class="text-base sm:text-sm md:text-base lg:text-lg text-main-blue font-[500]">{feature.title}</h2>
      </div>
    ))
  }
</div>
  </div>
</main>

<script type="module">
  document.getElementById("view-lab-button")?.addEventListener("click", () => {
    const currentUrl = window.location.href;
    if (currentUrl[currentUrl.length - 1] == "/") {
      window.location.assign(`${window.location}universities`);
    } else {
      window.location.assign(`${window.location}/universities`);
    }
  });

  document
    .getElementById("contribute-button")
    ?.addEventListener("click", () => {
      if (currentUrl[currentUrl.length - 1] == "/") {
        window.location.assign(`${window.location}contribute`);
      } else {
        window.location.assign(`${window.location}/contribute`);
      }
    });
</script>
